/*
 * @author ghostxbh
 * @data 2020/04/01
 */

/* 分页*/
.uzy_page{text-align:center; padding-top:10px;}
.uzy_page a{}
.uzy_page p{display:inline-block; font-size:14px; color:#999; border:1px solid #e3e3e3; padding:3px 8px;}
.uzy_page p.previous , .uzy_page p.next{background:#f6f6f6;}
.uzy_page p.current{font-weight:bold; color:#fff; background: #cccccc; border:1px solid #cccccc;}
.uzy_page input{width:25px; height:20px; border:1px solid #e3e3e3; margin:0 3px; padding:3px; text-align:center;}
.uzy_page .btn{background:#ccc; border-radius:3px; font-size:14px; color:#fff; padding:2px 6px;}
